@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }
    
    main{
        flex-direction: column;
    }
    
    h2{
        font-size: 20px;


    }



    form{
        margin: 0 auto;
        width: 100%;
    }
    input{
        align-self: center;
    }
    img{
       display: flex;
      
     
    }
    ul{
        text-align: center;
    }
    
}
    
    @media screen and (max-width:800px){

        

        .card{
            width: 100%;
        }
        .datos{
            height: 500px;
        }

        .pie-pagina .grupo1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;
         }


    }